.custom-card {
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.custom-card:hover {
  box-shadow: 10px 10px 10px 0 rgba(255, 142, 61, 0.25)
}

.card-actions {
  justify-content: flex-end;
}
 